body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #111;
  background: rgb(247, 247, 247);
}

p {
  font-family: "Iwata Maru Gothic W55", medium;
}

h1,
h2 {
  font-family: "Iwata Maru Gothic W55", serif;
  font-size: 1.728rem;
}

h1 {
  font-family: "Aura", regular;
  font-size: 2rem;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}